$blue: #1877F2;
$green: #42B72A;

$border-radius: 0;
$paragraph-margin-bottom:   0;

$gray-600: rgb(245,245,245);

@import "~bootstrap/scss/bootstrap";

body{
  min-height: 100vh;
  background: linear-gradient(
  203deg,
  rgba(131, 58,180,0.9) 0%,
                  rgb(29, 163, 253) 50%,
                  rgb(69, 252, 252) 100%,

  );
}